# Felipe Castillo
# Data Preparation
# SQLite Homework
# 03/04/2022

In [1]:
### Write your code below this comment
import pandas
import sqlite3
import os 
os.chdir("C:\DataScience_DSC_540\Week11_12")

### Task 1: (Connect to the supplied petsDB, and (OPTIONAL) write a function to check if the connection is done)

In [3]:

def check_connection(conn):
     try:
        conn.cursor()
        return True
     except Exception as ex:
        return False

In [4]:
conn = sqlite3.connect('petsdb')

print(check_connection(conn))

True

In [5]:
conn.close()

In [6]:
print(check_connection(conn))

False

# General information on whats in the data base

In [75]:
conn = sqlite3.connect('petsdb')

In [76]:
cursor = conn.cursor()

In [77]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")

In [78]:
#two tables inside db
print(cursor.fetchall())

[('persons',), ('pets',)]

In [79]:
# printng list of  person tble 
print('\nColumns in persons table:')
data=cursor.execute('''SELECT * from persons''')
for column in data.description:
    print(column[0])

Columns in persons table:
id
first_name
last_name
age
city
zip_code

In [81]:
#printing persons table
print('\n---------DATA ROWS IN PERSON-----------:')
data=cursor.execute('''SELECT * from persons''')
#for i in data:
    #print(i)

---------DATA ROWS IN PERSON-----------:

In [24]:
#getting list of pet table
print('\nColumns in pets table:')
data=cursor.execute('''SELECT * from pets''')
for column in data.description:
    print(column[0])

Columns in pets table:
owner_id
pet_name
pet_type
treatment_done

In [82]:
#printing pets table
print('\n---------DATA ROWS IN Pets-----------:')
data=cursor.execute('''SELECT * from pets''')
#for i in data:
    #print(i)

---------DATA ROWS IN Pets-----------:

In [83]:
#combining tables for refernce by unique key 
rows = cursor.execute("SELECT  * FROM pets inner Join persons on pets.owner_id = persons.id")

#for row in rows:
    #print(row)

### Task 2: (What are the different age groups in the persons database)

In [9]:
#Getting count and age from person and grouping them by age
rows = cursor.execute("SELECT count(*), age FROM persons GROUP BY age")

In [10]:

#returns a group of age by tuple
#unpacking in count and age
for count, age in rows:
    print("Count {0} and age {1}".format(count, age))

Count 2 and age 5
Count 1 and age 6
Count 1 and age 7
Count 3 and age 8
Count 1 and age 9
Count 2 and age 11
Count 3 and age 12
Count 1 and age 13
Count 4 and age 14
Count 2 and age 16
Count 2 and age 17
Count 3 and age 18
Count 1 and age 19
Count 3 and age 22
Count 2 and age 23
Count 3 and age 24
Count 2 and age 25
Count 1 and age 27
Count 1 and age 30
Count 3 and age 31
Count 1 and age 32
Count 1 and age 33
Count 2 and age 34
Count 3 and age 35
Count 3 and age 36
Count 1 and age 37
Count 2 and age 39
Count 1 and age 40
Count 1 and age 42
Count 2 and age 44
Count 2 and age 48
Count 1 and age 49
Count 1 and age 50
Count 2 and age 51
Count 2 and age 52
Count 2 and age 53
Count 2 and age 54
Count 1 and age 58
Count 1 and age 59
Count 1 and age 60
Count 1 and age 61
Count 2 and age 62
Count 1 and age 63
Count 2 and age 65
Count 2 and age 66
Count 1 and age 67
Count 3 and age 68
Count 1 and age 69
Count 1 and age 70
Count 4 and age 71
Count 1 and age 72
Count 5 and age 73
Count 3 and age 74

### Task 3: Which age group has maximum number of people?

In [43]:
#selecting max age from persons grouped age with the total count
rows = cursor.execute("SELECT count(*) FROM (SELECT max(age) FROM persons GROUP BY age)")
for row in rows:
    print(row)

(53,)

In [60]:
#Selecting age and count from person , selecting the max age with its total count
rows = cursor.execute("SELECT age, max(age_count) FROM (SELECT age, count(*) as age_count FROM persons GROUP BY age)")

for row in rows:
    print("Highest age group {} with a total count of {}".format(row[0], row[1]))

(73, 5)
Highest age group 73 with a total count of 5

### Task 4: How many people do not have a full name (Last name is blank/null)

In [84]:
### Write your code below this comment
#If last name is null selecting apply the count 
rows = cursor.execute("SELECT  count(*) FROM persons WHERE last_name is null")
for row in rows:
    print(row)

(60,)

### Task 5: How many people has more than one pet? (*)

In [73]:
### Write your code bellow this comment

#selecting the number of owners who have at least one pet, then counting the number 

rows = cursor.execute("SELECT Count(*) FROM (SELECT count(owner_id) as owner_id_count  FROM pets GROUP BY owner_id HAVING owner_id_count > 1)")

for row in rows:
    print("Number of people that have more then one dog {}".format(row[0]))

Number of people that have more then one dog 43

### Task 6: How many pets have received treaments?

In [12]:
### Write your code below this comment

#Getting  by its boolean value of one, then counting 
rows = cursor.execute("SELECT  count(*) FROM pets WHERE treatment_done = 1")
for row in rows:
    print(row)

(36,)

### Task 7: How many pets have received treatment that we know the type of?

In [13]:
### Write your code below this comment
#same logic adding a pet type == null , set count for amount 
rows = cursor.execute("SELECT  count(*) FROM pets WHERE treatment_done = 1 AND pet_type is not null")
for row in rows:
    print(row)

(16,)

### Task 8: How many pets are there from the city called "east port"

In [34]:
### Write your code below this comment
#only table persons has city
# Key is pets owns id with person
#joining tables by unique key
#counting the pets in east port after join 

rows = cursor.execute("SELECT  count(*) FROM pets inner Join persons on pets.owner_id = persons.id where persons.city ='east port'")
for row in rows:
    print(row)

(49,)

### Task 9: How many pets are there from the city called "east port" and who received a treatment?

In [35]:
### Write your code below this comment
#same logic as last table pets has treatment clomn feild with a boolean operator



rows = cursor.execute("SELECT  count(*) FROM pets inner Join persons on pets.owner_id = persons.id where persons.city ='east port' and  pets.treatment_done = 1")
for row in rows:
    print(row)

(11,)